<nb-layout>
    <nb-layout-column>
        <nb-card class="cartao">
            <nb-card-header>
                LOGIN
            </nb-card-header>
            <nb-card-body>
                <form aria-labelledby="title" [formGroup]="formConfig">
                    <div class="form-control-group">
                        <label class="label" for="input-login">Login:</label>
                        <input nbInput fullWidth id="input-login" formControlName="login" placeholder="Login"
                            [status]="formConfig.controls.login.dirty ? (formConfig.controls.login.invalid  ? 'danger' : 'success') : ''">
                    </div>

                    <div class="form-control-group">

                        <label class="label" for="input-password">Senha:</label>

                        <input nbInput fullWidth id="input-password" formControlName="password" type="password"
                            placeholder="Senha"
                            [status]="formConfig.controls.password.dirty ? (formConfig.controls.password.invalid  ? 'danger' : 'success') : ''"
                            >

                    </div>

                    <div class="form-control-group">

                        <button nbButton fullWidth status="primary" size="large" (click)="submmit()">

                            Login
                        </button>

                    </div>

                    <div class="form-control-group">

                        <button nbButton fullWidth status="warning" size="large" (click)="register()">

                            Registrar
                        </button>

                    </div>



                </form>
                
            </nb-card-body>
            <nb-card-footer>
                teste de wesley para Megaleios
            </nb-card-footer>
        </nb-card>
    </nb-layout-column>
</nb-layout>