<nb-layout>
    <nb-layout-header>
        Listagem
        <div class="actionRight" >
            <nb-icon icon="power-outline" (click)="exit()" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </div>
    </nb-layout-header>
    <nb-layout-column class="colored-column-basic">
        <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
    </nb-layout-column>
    <nb-layout-footer>Teste de wesley para Megaleios</nb-layout-footer>
</nb-layout>